<div class="mt-3 d-md-none"></div>
<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row px-3 pt-3">
                    <div class="col h3">
                        <span class="en">About Me 🌍</span><span class="zh">关于我 🌍</span>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <div class="text-profile-bio mt-0" {% if site.data.profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
                            {{ site.data.profile.short_bio }}
                        </div>
                        {% if site.data.profile.cv_link or site.data.profile.business_card_link %}
                        <div class="mt-2">
                            {% if site.data.profile.cv_link %}
                                <a target="_blank" href="{{ site.data.profile.cv_link | relative_url }}"><i class="fas fa-file-alt"></i> <span class="en">Curriculum Vitae</span><span class="zh">个人简历 (英文版)</span></a>
                            {% endif %}
                            {% if site.data.profile.cv_link and site.data.profile.cv_link_cn %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}
                            {% if site.data.profile.cv_link_cn %}
                                <a target="_blank" href="{{ site.data.profile.cv_link_cn | relative_url }}"><i class="fas fa-file-alt"></i> <span class="en">Chinese CV</span><span class="zh">个人简历 (中文版)</span></a>
                            {% endif %}
                            {% if site.data.profile.cv_link_cn and site.data.profile.business_card_link %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}
                            {% if site.data.profile.business_card_link %}
                                <a target="_blank" href="{{ site.data.profile.business_card_link | relative_url }}"><i class="fas fa-address-card"></i> <span class="en">Business Card</span><span class="zh">学术名片</span></a>
                            {% endif %}
                            {% if site.data.profile.business_card_link and site.data.profile.wechat_link %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}
                            {% if site.data.profile.wechat_link %}
                                <a target="_blank" href="{{ site.data.profile.wechat_link | relative_url }}"><i class="fas fa-address-card"></i> <span class="en">Wechat Card</span><span class="zh">微信名片</span></a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
