<div class="mt-3 d-md-none"></div>
<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row px-3 pt-3">
                    <div class="col h3">
                        About Me 🌍
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <div class="text-profile-bio mt-0" {% if site.data.profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
                            {{ site.data.profile.short_bio }}
                        </div>
                        {% if site.data.profile.cv_link or site.data.profile.business_card_link %}
                        <div class="mt-2">
                            {% if site.data.profile.cv_link %}
                                <a target="_blank" href="{{ site.data.profile.cv_link | relative_url }}"><i class="fas fa-file-alt"></i> Curriculum Vitae</a>
                            {% endif %}
                            {% if site.data.profile.cv_link and site.data.profile.business_card_link %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}
                            {% if site.data.profile.business_card_link %}
                                <a target="_blank" href="{{ site.data.profile.business_card_link | relative_url }}"><i class="fas fa-address-card"></i> Business Card</a>
                            {% endif %}
                            {% if site.data.profile.business_card_link and site.data.profile.wechat_link %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}
                            {% if site.data.profile.wechat_link %}
                                <a target="_blank" href="{{ site.data.profile.wechat_link | relative_url }}"><i class="fas fa-address-card"></i> Wechat Card</a>
                            {% endif %}                            
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
